build/
.DS_Store
*.log
.idea/
.vscode/
.githooks/
.cache/
.vscode-test/
.history/
.vs/
.ccls-cache/
compile_commands.json
CMakeUserPresets.json
cmake-build-*/
out/
._*
*.tmp
*.bak
*.orig
*.swp
*.swo
conventions.md
webro.vst3/
webro-*.zip
